Package: xterm-hide
Version: 1.0.0-1big1
Depends: xterm
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:28
Description: hide xterm in system menu


